//LayoutDefault.scss
.layout-default {
  // min-height: 100vh;

  .layout-child {
    display: flex;

    .ant-layout-sider {
      position: sticky;
      top: 64px;
      height: calc(100vh - 64px);
      overflow-y: auto;
      transition: all 0.3s ease;
      border-right: 1px solid #f0f0f0;
      min-width: 210px !important;
    }

    .layout__content {
      flex: 1;
      background: #fafafa;
      // padding: 2.5rem;
      height: calc(100vh - 64px);
      overflow-y: auto;
      transition: all 0.3s ease;

      &.layout__content--full-bleed {
        padding: 0 !important;
        height: calc(100vh - 64px) !important;
        overflow-y: hidden !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .ant-layout-sider {
    position: relative;
    height: auto;
  }
}

.content__container {
  padding: 0;
}

.ant-layout-content {
  padding: 0;
}