PORT = 3000
MONGO_URI = ...
JWT_SECRET=your-secret-key-here
ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret
REDIS_URL=redis://localhost:6379
EMAIL_USER= ...
EMAIL_PASS= ...